In [11]:
# you can import separately
import pandas as pd
import os
from datetime import datetime

In [13]:
#get the working directory
current_directory = os.getcwd()

# Print the current working directory
print("Current working directory:", current_directory)

Current working directory: C:\Users\ALVIN KAYI\Desktop\python_data_analysis\walmart project

In [14]:
df = pd.read_csv(r"C:\Users\ALVIN KAYI\Desktop\walmart_project\WalmartSalesData.csv")

In [15]:
# Add a new column named `time_of_day` to give insight of sales in the Morning, Afternoon and Evening. This will help answer the question on which part of the day most sales are made.

#Convert to String: Assuming your DataFrame is named df, convert the Time column to string:
df['hour'] = df['Time of Day'].str[:2].astype(int)

#Create New Column: Next, create a new column named time_of_day based on the hour values:
df['time_of_day'] = pd.cut(df['hour'], bins=[0, 12, 18, 24], labels=['Morning', 'Afternoon', 'Evening'])

#Clean Up: Finally, drop the temporary hour column if you don’t need it anymore:
df.drop(columns=['hour'], inplace=True)

#save to the cvs file
df.to_csv('WalmartSalesData.csv', index=False)

In [16]:
#Add a new column named `day_name` that contains the extracted days of the week on which the given transaction took place (Mon, Tue, Wed, Thur, Fri).
#This will help answer the question on which week of the day each branch is busiest.
#converting date column to datetime to avoid errors when using .dt
#The errors='coerce' parameter ensures that any invalid date values are converted to NaT (Not-a-Time) instead of raising an error.
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')

df['day_name'] = df['Date'].dt.day_name()



df.to_csv('WalmartSalesData.csv', index=False)

In [17]:
# #Add a new column named `month_name` that contains the extracted months of the year on which the given transaction took place (Jan, Feb, Mar). Help determine which month of the year has the most sales and profit.
# #creating a column to hold the months data
 df['month'] = df['Date'].dt.month

  months = {
     1:'January',
     2:'February',
     3:'March',
     4:"April",
     5:"May",
     6:"June",
     7:"July",
     8:"August",
     9:"September",
     10:"october",
     11:"November",
     12:"December"
 }

# #the clumn was displayed in numbers so we create a dictionary to be mapped over to be exuated to the figures
df["Month"] = df["month"].map(months)

# delete tghe month column you dont need it anymore
df.drop(columns=['month'], inplace=True)

# #save the changes to the csv file
df.to_csv('WalmartSalesData.csv', index=False)#Convert the 'Date' column to the day of the week.
    
df['Day of Week'] = df['Date'].dt.day_name()

IndentationError: unexpected indent (4085524895.py, line 3)

In [18]:
df

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,...,Payment,cogs,gross margin percentage,gross income,Rating,Time of Day,time_of_day,day_name,Month,Good or Bad
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,...,Ewallet,522.83,4.761905,26.1415,9.1,13:08:00,Afternoon,Saturday,January,NaN
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,...,Cash,76.40,4.761905,3.8200,9.6,10:29:00,Morning,Friday,March,NaN
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,...,Credit card,324.31,4.761905,16.2155,7.4,13:23:00,Afternoon,Sunday,March,NaN
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,...,Ewallet,465.76,4.761905,23.2880,8.4,20:33:00,Evening,Sunday,January,NaN
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,...,Ewallet,604.17,4.761905,30.2085,5.3,10:37:00,Morning,Friday,February,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,...,Ewallet,40.35,4.761905,2.0175,6.2,13:46:00,Afternoon,Tuesday,January,NaN
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,...,Ewallet,973.80,4.761905,48.6900,4.4,17:16:00,Afternoon,Saturday,March,NaN
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,...,Cash,31.84,4.761905,1.5920,7.7,13:22:00,Afternoon,Saturday,February,NaN
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,...,Cash,65.82,4.761905,3.2910,4.1,15:33:00,Afternoon,Friday,February,NaN
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,...,Cash,618.38,4.761905,30.9190,6.6,13:28:00,Afternoon,Monday,February,NaN

In [19]:
## Business Questions To Answer

### Generic Question

#1. How many unique cities does the data have?
unique_cities = df["City"].nunique()
print(unique_cities)

3

In [20]:
#2. In which city is each branch
# Group by branch and aggregate the cities into a list
branch_cities = df.groupby('Branch')['City'].unique()

# Create a new DataFrame to display the results
result_df = pd.DataFrame(branch_cities)
result_df.reset_index(inplace=True)  # Reset index for cleaner display

# Rename columns for clarity
result_df.columns = ['Branch', 'Cities']

# Print the result
print(result_df)

  Branch       Cities
0      A     [Yangon]
1      B   [Mandalay]
2      C  [Naypyitaw]

In [21]:
#
### Product

# 1. How many unique product lines does the data have?

unique_products = df['Product line'].nunique()
print(unique_products)

6

In [22]:
#2. What is the most common payment method?
import pandas as pd
df = pd.read_csv(r"C:\Users\ALVIN KAYI\Desktop\walmart_project\WalmartSalesData.csv")

common = df.groupby("Payment")["Quantity"].sum()

result_df = pd.DataFrame(common)
result_df.reset_index(inplace=True)

# most_common_method = common.idxmax()
print(f"The most common payment method is: ({common})")

The most common payment method is: (Payment
Cash           1896
Credit card    1722
Ewallet        1892
Name: Quantity, dtype: int64)

In [23]:
#3. What is the most selling product line?
most_sold =  df.groupby("Product line")["Quantity"].sum() 
result_df = pd.DataFrame(most_sold) 


print(f"The most common payment method is: ({most_sold})")

The most common payment method is: (Product line
Electronic accessories    971
Fashion accessories       902
Food and beverages        952
Health and beauty         854
Home and lifestyle        911
Sports and travel         920
Name: Quantity, dtype: int64)

In [24]:
#4. What is the total revenue by month?
total_revenue =  df.groupby("Month")["Total"].sum() 
# result_df = pd.DataFrame(most_sold) 
total_revenue

Month
February     97219.374
January     116291.868
March       109455.507
Name: Total, dtype: float64

In [25]:
#5. What is the city with the largest revenue?
total_cityrevenue =  df.groupby("City")["Total"].sum() 

sorted_df = df.sort_values(by='Total')

# max_value = df['Total'].max()
total_cityrevenue

City
Mandalay     106197.6720
Naypyitaw    110568.7065
Yangon       106200.3705
Name: Total, dtype: float64

In [26]:
#6. What product line had the largest revenue?

# Assuming total_cityrevenue is already calculated as shown in the question:
total_cityrevenue = df.groupby("Product line")["Total"].sum()

# Get the index of the maximum value in total_cityrevenue
max_index = total_cityrevenue.idxmax()

# Retrieve the product line corresponding to the maximum value
product_line_with_max_revenue = max_index
max_total_revenue = total_cityrevenue[max_index]

print("Product line with maximum total revenue:", product_line_with_max_revenue)
print("Maximum total revenue:", max_total_revenue)

Product line with maximum total revenue: Food and beverages
Maximum total revenue: 56144.844

In [ ]:
# #7. Fetch each product line and add a column to those product line showing "Good", "Bad". Good if its greater than average sales
# #get the average of the total sales
 average_sales = df['Total'].mean()
# #add a column
df['Good or Bad'] = ('')
# #saving changed to the dataset so that they can be seen
 df.to_csv('WalmartSalesData.csv', index=False)
# #populating the column
 pl =df['Product line']
 def p (pl):
     if pl > average_sales:
         return 'Good'
     else: 
         return 'Bad'
    
    




 df['Good or Bad'] = df['Product line'].apply(p)

print(df.dtypes)

In [27]:
#8. Which branch sold more products than average product sold?
# get the average of the total sales

IndentationError: expected an indented block after function definition on line 5 (3108642232.py, line 7)

In [ ]:
#9. What is the most common product line by gender?

In [ ]:
#10. What product line had the largest VAT?

In [ ]:
#11. What is the average rating of each product line?